// Columns
$columnsPadding: 15px;
$columnsBorderRadius: 25px;
$columnsBackground: rgba(0, 0, 0, .5);

// Column
$columnPadding: 15px;
$columnBorderRadius: 15px;
$columnBackground: rgba(255, 255, 255, .5);

// Card
$cardPadding: 11px;
$cardBorderRadius: 10px;
$cardBackground: #e9e9ed;

// Button
$buttonPadding: .5rem .8rem;
$buttonBorderRadius: 11px;

// Input
$inputPadding: .5rem;
$inputBorderRadius: 11px;

$transition: .2s;

$borderRadius: (
    xs: 3px,
    s: 5px,
    m: 11px,
    l: 15px,
    xl: 25px
);