$colors: (
  dark: #1B1D24,
  grey: #b4b4b4,
  white: #DCDCDC,
);
$borderRadius: (
  xs: 3px,
  s: 5px,
  m: 11px,
  l: 15px,
  xl: 30px,
  full: 999px
  );

// Columns container
$columnsPadding: 25px;
$columnsBackground: map-get($colors, grey);
$columnsBoxShadow: 7px 7px 13px #484848,
-7px -7px 13px #ffffff;

// Column
$columnPadding: 15px;
$columnBackground: darken(map-get($colors, grey), 15);
$columnWidth: 300px;
$columnButtonSize: 38px;
$columnHeaderGap: $columnPadding;

// Card
$cardPadding: 11px;
$cardBackground: darken(map-get($colors, grey), 15);
$cardGap: 20px;

// Button
$buttonPadding: 10px 20px;
$buttonBackground: map-get($colors, grey);

// Input
$inputPadding: .5rem;
$inputBackground: rgba(255, 255, 255, .7);

$transition: .2s;
$transitionTimingFunction: cubic-bezier(.01, 0, .19, 2.36);

