body {
  margin: 0;
  padding: 0;
}

#app {
  height: calc(100vh - 8rem);
  margin: 0;
  padding: 4rem;
  font-weight: normal;
  background-color: #b4b4b4;
}

@media (width <= 700px) {
  #app {
    padding: 4rem 1rem;
  }
}
